<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NKatmanliMimari.Properties.Settings.DbPersonelConnectionString"
            connectionString="Data Source=DESKTOP-1R2MHBR\SQLEXPRESS;Initial Catalog=DbPersonel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>